.card{
    font-size: 17px;
    background-color: white;
    width: 250px;
    height: 350px; 
    margin: 51.04px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 20px;
}
.card:hover{
    box-shadow: 5px 5px 20px rgb(112, 111, 111);
}
.img{
    margin-top: 10px;
    text-align: center;
}
.name{
    margin: 10px 30px;
}
.name p{
    margin-top: 10px;
    color: darkgreen;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.detail a{
    padding-left: 5px;
    text-decoration: none;
    color: navy;
} 
.button{
    width:30px;
    height:30px;
    vertical-align: middle;
    position: relative;
}
.button p{
    font-size: 30px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ADD{
    width: 70px;
}
.buttons span{
    color: #1a73e8;
    font-weight: 600;
    margin: 8px;
}
.buttons button{
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    color: white;
    border: none;
    background-color: #1a73e8;
    border-radius: 5px;
}
.trash{
    vertical-align: middle;
    height: 20px;
    width: 20px;
    transform: scale(1.4);
}